:root {
/** Font Customization **/
--default-font: /*"Rubik",*/ Glow Sans SC Medium, "Inter", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", sans-serif; !important

/** Main text font weight **/
/* --body-font-weight: 4500 !important ;
--body-font-size: 500px !important;

--font-normal:200px !important;
--font-small:13px;
--font-smaller:11px;
--font-smallest:10px;
--font-size:50px; */
}
