/* Removing duplication of bullets when block referencing a list item
Parent inside a bullet list */
li .markdown-embed ul {
    position: relative;
    margin-left: -10px; /*! need to be adjusted for different themes*/
    margin-right: 0px;
    padding-left: 0px; 
    cursor: alias;
}

/* Child inside a bullet list */
li .markdown-embed ul ul   {
    position: relative;
    margin-left: 0px;
    padding-left: 40px; 
}

/* Task list inside an embed */
li .markdown-embed li.task-list-item {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
}