h2.chead {
	display: flex;
    width: 100%;
    align-items: center;
}
h2.chead:before, h2.chead:after{
    content: '';
    background: #434C5E;
    height: 2px;
    margin: .2em;
    flex: 1;
}
h2.chead > a {
    padding: 0 0.25em!important;
}
h2.chead .collapse-icon {
    display: none;
}
.markdown-preview-section h2.chead
{
    font-weight: 600 !important;
}