
:root
{
    --dark0-hard:     #1d2021;
    --dark0:          #282828;
    --dark0-soft:     #32302f;
    --dark1:          #3c3836;
    --dark2:          #504945;
    --dark3:          #665c54;
    --dark4:          #7c6f64;

    --gray:           #928374;

    --light0-hard:    #f9f5d7;
    --light0:         #fbf1c7;
    --light0-soft:    #f2e5bc;
    --light1:         #ebdbb2;
    --light2:         #d5c4a1;
    --light3:         #bdae93;
    --light4:         #a89984;

    --bright-red:     #fb4934;
    --bright-green:   #b8bb26;
    --bright-yellow:  #fabd2f;
    --bright-blue:    #83a598;
    --bright-purple:  #d3869b;
    --bright-aqua:    #8ec07c;
    --bright-orange:  #fe8019;

    --neutral-red:    #cc241d;
    --neutral-green:  #98971a;
    --neutral-yellow: #d79921;
    --neutral-blue:   #458588;
    --neutral-purple: #b16286;
    --neutral-aqua:   #689d6a;
    --neutral-orange: #d65d0e;

    --faded-red:      #9d0006;
    --faded-green:    #79740e;
    --faded-yellow:   #b57614;
    --faded-blue:     #076678;
    --faded-purple:   #8f3f71;
    --faded-aqua:     #427b58;
    --faded-orange:   #af3a03;
}

.theme-dark
{
    --font-monospace: 'Hack Nerd Font', 'Source Code Pro', monospace;
    --background-primary:         var(--dark0);
    --background-primary-alt:     var(--dark0);
    --background-secondary:       var(--dark0-hard);
    --background-secondary-alt:   var(--dark1);
    --text-normal:                var(--light0);
    --text-faint:                 var(--light3);
    --text-title-h1:              var(--neutral-red);
    --text-title-h2:              var(--neutral-orange);
    --text-title-h3:              var(--neutral-yellow);
    --text-title-h4:              var(--neutral-green);
    --text-title-h5:              var(--neutral-aqua);
    --text-link:                  var(--bright-blue);
    --text-a:                     var(--bright-orange);
    --text-a-hover:               var(--bright-blue);
    --text-mark:                  rgba(215, 153, 33, 0.4); /* neutral-yellow */
    --pre-code:                   var(--dark1);
    --text-highlight-bg:          var(--faded-aqua);
    --interactive-accent:         var(--bright-orange);
    --interactive-before:         var(--dark4);
    --background-modifier-border: var(--dark2);
    --text-accent:                var(--bright-orange);
    --interactive-accent-rgb:     var(--bright-orange);
    --inline-code:                var(--bright-blue);
    --code-block:                 var(--bright-blue);
    --vim-cursor:                 var(--bright-orange);
    --text-selection:             rgba(168, 153, 132, 0.5); /* light4 */
}

.theme-light
{
    --background-primary:         var(--light0);
    --background-primary-alt:     var(--light0);
    --background-secondary:       var(--light0-hard);
    --background-secondary-alt:   var(--light1);
    --text-normal:                var(--dark0);
    --text-faint:                 var(--dark3);
    --text-title-h1:              var(--faded-red);
    --text-title-h2:              var(--faded-orange);
    --text-title-h3:              var(--faded-yellow);
    --text-title-h4:              var(--faded-green);
    --text-title-h5:              var(--faded-aqua);
    --text-link:                  var(--neutral-blue);
    --text-a:                     var(--neutral-orange);
    --text-a-hover:               var(--neutral-blue);
    --text-mark:                  rgba(215, 153, 33, 0.4); /* neutral-yellow */
    --pre-code:                   var(--light1);
    --text-highlight-bg:          var(--bright-aqua);
    --interactive-accent:         var(--neutral-orange);
    --interactive-before:         var(--light4);
    --background-modifier-border: var(--light2);
    --text-accent:                var(--neutral-orange);
    --interactive-accent-rgb:     var(--neutral-orange);
    --inline-code:                var(--neutral-blue);
    --vim-cursor:                 var(--neutral-orange);
    --text-selection:             rgba(189, 174, 147, 0.5); /* light3 */
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    background-color: var(--pre-code) !important;
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--interactive-accent-rgb) !important;
}
.graph-view.color-text
{
    color: var(--text-a-hover) !important;
}
/*
.graph-view.color-fill
{
    color: var(--background-secondary);
}
.graph-view.color-line
{
  color: var(--background-modifier-border);
}
*/

html,
body
{
    font-size: 16px !important;
}

strong
{
    font-weight: 600 !important;
}

a,
.cm-hmd-internal-link
{
    color: var(--text-a) !important;
    text-decoration: none !important;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-url
{
    color: var(--text-a-hover) !important;
    text-decoration: none !important;
}

mark
{
    background-color: var(--text-mark) !important;
}

.view-actions a
{
    color: var(--text-normal) !important;
}

.view-actions a:hover
{
    color: var(--text-a) !important;
}

.HyperMD-codeblock-bg
{
    background-color: var(--pre-code) !important;
}

.HyperMD-codeblock
{
    line-height: 1.4em !important;
    color: var(--code-block) !important;
}

.HyperMD-codeblock-begin
{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.HyperMD-codeblock-end
{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

th
{
    font-weight: 600 !important;
}

thead
{
    border-bottom: 2px solid var(--background-modifier-border) !important;
}

.HyperMD-table-row
{
    line-height: normal !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /* background-color: var(--pre-code) !important; */
}

.HyperMD-table-row-0
{
    /* padding-top: 4px !important; */
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator
{
    color: var(--text-a) !important;
}

.nav-file-tag
{
    color: var(--text-a) !important;
}

.is-active .nav-file-title
{
    color: var(--text-a) !important;
    background-color: var(--background-primary-alt) !important;
}

.nav-file-title
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

img
{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.HyperMD-list-line
{
    padding-top: 0 !important;
}

.CodeMirror-linenumber,
.cm-formatting
{
    font-family: var(--font-monospace) !important;
}

.markdown-preview-section pre code,
.markdown-preview-section code
{
    font-size: 0.9em !important;
    background-color: var(--pre-code) !important;
}

.markdown-preview-section pre code
{
    padding: 4px !important;
    line-height: 1.4em !important;
    display: block !important;
    color: var(--code-block) !important;
}

.markdown-preview-section code
{
    color: var(--inline-code) !important;
}

.cm-s-obsidian,
.cm-inline-code
{
    -webkit-font-smoothing: auto !important;
}

.cm-inline-code
{
    color: var(--inline-code) !important;
    background-color: var(--pre-code) !important;
    padding: 1px !important;
}

.workspace-leaf-header-title
{
    font-weight: 600 !important;
}

.side-dock-title
{
    padding-top: 15px !important;
    font-size: 20px !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
    color: var(--text-a);
}

.side-dock
{
    border-right: 0 !important;
}

.cm-s-obsidian,
.markdown-preview-view
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle, 
.workspace-split.mod-right-split > .workspace-leaf-resize-handle
{
    width: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle
{
    height: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs
{
    padding-right: 0px;
}

.markdown-embed-title
{
    font-weight: 600 !important;
}

.markdown-embed
{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.cm-header-1,
.markdown-preview-section h1
{
    font-weight: 500 !important;
    font-size: 34px !important;
    color: var(--text-title-h1) !important;
}

.cm-header-2,
.markdown-preview-section h2
{
    font-weight: 500 !important;
    font-size: 26px !important;
    color: var(--text-title-h2) !important;
}

.cm-header-3,
.markdown-preview-section h3
{
    font-weight: 500 !important;
    font-size: 22px !important;
    color: var(--text-title-h3) !important;
}

.cm-header-4,
.markdown-preview-section h4
{
    font-weight: 500 !important;
    font-size: 20px !important;
    color: var(--text-title-h4) !important;
}

.cm-header-5,
.cm-header-6,
.markdown-preview-section h5,
.markdown-preview-section h6
{
    font-weight: 500 !important;
    font-size: 18px !important;
    color: var(--text-title-h5) !important;
}

.suggestion-item.is-selected
{
    background-color: var(--background-secondary);
}

.empty-state-container:hover
{
    background-color: var(--background-secondary-alt);
    border: 5px solid var(--interactive-accent) !important;
}

.checkbox-container
{
    background-color: var(--interactive-before);
}

.checkbox-container:after
{
    background-color: var(--background-secondary-alt);
}

.mod-cta
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta:hover
{
    background-color: var(--interactive-before) !important;
    font-weight: 600 !important;
}

.CodeMirror-cursor
{
    background-color: var(--vim-cursor) !important;
    opacity: 60% !important;
}

input.task-list-item-checkbox {
    border: 1px solid var(--dark4);
    appearance: none;
    -webkit-appearance: none;
}

input.task-list-item-checkbox:checked
{
    background-color: var(--dark4);
    box-shadow: inset 0 0 0 2px var(--background-primary);
}

::selection
{
    background-color: var(--text-selection) !important;
}

blockquote {
margin-left:5px;
margin-right:5px;
}

li blockquote {
margin:0 0 0 0;
}


/*Bullet list relationship lines*/
.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1.5px solid rgba(150,150,150,0);
 box-shadow: -2.5px 0px 0px 0px grey;
 position: absolute;
}
.cm-hmd-list-indent .cm-tab::before { left: 5px; top: -5px; bottom: -4px;}
ul ul::before { left: -11px; top: 0; bottom: 0;}

/* Andy Matuschak mode! V2! for 0.7.0! (so... 2.7?) */

/* everything under .mod-root now. Don't want Andy messing with sidebars */
/* also, Andy only makes sense for vertical splits, at the root level, right? */
.mod-root.workspace-split.mod-vertical { 
  overflow-x:auto; 
  --header-width: 36px; /* <- 36px is the header height in the default theme */
}
.mod-root.workspace-split.mod-vertical > div { 
  min-width: calc(700px + var(--header-width)); /* <-- 700px is the default theme's "readable" max-width */
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.25);
  position:sticky;
  left:0;
}

/* shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--header-width) * 0); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--header-width) * 1); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--header-width) * 2); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--header-width) * 3); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--header-width) * 4); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--header-width) * 5); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--header-width) * 6); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--header-width) * 7); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--header-width) * 8); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--header-width) * 9); }

/* now it's time for the fancy vertical titles */

/* first we'll add a bit of gap for the title to sit inside of */
.workspace-leaf-content {
  padding-left: var(--header-width);
  position: relative;
}

/* this is where the magic happens */
.view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--background-secondary-alt);
  border-left: 2px solid var(--background-secondary-alt);
  border-top: none;
  border-bottom: none;
  height: auto;
  width: var(--header-width);
  position: absolute;
  left:0;
  top:0;
  bottom:0;
}

/* active titles have different border colours */
.workspace-leaf.mod-active .view-header {
  border-right: 2px solid var(--interactive-accent);
  border-bottom: none;
}

/* unset the title container height and swap padding */
.view-header-title-container {
  height: unset;
  padding-left: unset;
  padding-top: 5px;
}

/* fix the long-title-obscuring shadows */
.view-header-title-container:after {
  width: 100%;
  height: 30px;
  top:unset;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-secondary));
}
.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-primary-alt));
}

/* swap the padding/margin around for the header and actions icons */
.view-header-icon, .view-actions {
  padding: 10px 5px;
}
.view-action {
  margin: 8px 0;
}

/* get rid of the gap left by the now-missing horizontal title */
.view-content {
  height: 100%;
}

/* make the fake drop target overlay have a background so you can see it. */
/* TODO: figure out how the fake target overlay works so we can put the title back, too */
.workspace-fake-target-overlay {
  background-color: var(--background-primary);
}

/* MPE settings */
table td:nth-child(1) {
  white-space: nowrap;
}
dl dt{
  background:rgba(255, 255, 87, 0.4);
  display:inline-block;
}

.EX{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(35,209,96,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(35,209,96);
  padding:10px 10px
}
.example{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(35,209,96,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(35,209,96);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px
}
.REM{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(255,56,96,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,56,96);
  padding:10px 10px;
}
.remark{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(255,56,96,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,56,96);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px
}
.TIP{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(0,209,178,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(0,209,178);
  padding:10px 10px;
}
.tip-tip{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(0,209,178,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(0,209,178);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.IMPT{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(255,221,87,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,221,87);
  padding:10px 10px;
}
.important{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(255,221,87,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,221,87);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.QN{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(255,120,15,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,120,15);
  padding:10px 10px;
}
.question{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(255,120,15,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(255,120,15);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.REF{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(200,200,200,0.5);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(200,200,200);
  padding:10px 10px;
}
.reference{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(200,200,200,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(200,200,200);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.OTH{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(32,156,238,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(32,156,238);
  padding:10px 10px;
}
.other{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(32,156,238,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(32,156,238);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.TODO{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(138,43,226,0.2);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(138,43,226);
  padding:10px 10px;
}
.to-do{
  display:block;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-color:rgba(138,43,226,0);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(138,43,226);
  padding-left:10px;
  padding-bottom:0.02px;
  padding-top:10px;
  margin-bottom:15px;
}
.CMNT{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(230,230,230,0.5);
  border-width:4px;
  padding:10px 10px;
  box-shadow: rgba(0,0,0,0.5) 1px 2px 6px;
}
/* comment is USED
.comment{
    position:relative;
    display:block;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    background-color:rgba(230,230,230,0.3);
    border-width:4px;
    padding-left:10px;
    padding-bottom:0.02px;
    padding-top:10px;
    margin-bottom:15px;
    box-shadow: rgba(0,0,0,0.3) 1px 1px 6px;
}
*/
.Hidden{
  display:block;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:rgba(10,10,10,0.5);
  border-left-style: solid;
  border-width:4px;
  border-color:rgb(10,10,10);
  padding:10px 10px
}
.hidden-hidden{
    position:relative;
    display:block;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    background-color:rgba(10,10,10,0);
    border-left-style: solid;
    border-width:4px;
    border-color:rgb(10,10,10);
    padding-left:10px;
    padding-bottom:0.02px;
    padding-top:10px;
    margin-bottom:15px
}
.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  display:block;
  background-color:rgb(10,10,10);
  color:rgb(200,200,200);
  text-align:center;
  font-size:30px;
  font-weight:bold;
  border-bottom-right-radius:3px;
}
.hidden-hidden:hover .mask{
  display:none;
}
.YellowHighlight{
  background-color:rgba(255,255,0,1);
  color:rgb(0,0,0)
}
.Hide{
  background-color:rgba(0,0,0,1);
  color:rgb(0,0,0)
}

/* pre containers */
/*
.app-container pre[class*="language-"] {
border: 1px solid;
}

*[class*="language-note"]::first-line {
font-weight: bold;
}

.app-container pre[class*="language-"] code[class*="language-"] {
color: black;
white-space: pre-wrap; /* css-3 */
font-family: var(--default-font);
}

.app-container pre.language-red {
border-color: #bb0101;
background-color: #f3bcbc;
}

.app-container pre.language-blue {
border-color: #3c78b5;
background-color: #d8e4f1;
}

.app-container pre.language-yellow {
border-color: #f0c000;
background-color: #ffffce;
}

.app-container pre.language-green {
border-color: #009900;
background-color: #ddffdd;
}
*/

/* blockquote container */
blockquote {
  background: yellow;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/* hanging the appearance of block reference embeds */

/* Adjust padding on the embed */

.markdown-embed .markdown-preview-view { /* the padding */
    padding: 0px 5px 0px 5px; /* up right down left */
}

/* Adjusting the link icon in the embed */
.markdown-embed-link, .file-embed-link {
    position: absolute;
    top: 0em;
    right: -1.5em;
    color: var(--block-embed-link-icon);
    cursor: pointer;
    margin-left:10px;
}
blockquote .markdown-embed-link, .file-embed-link {
    position: absolute;
    top: 0em;
    right: -2.2em;
    color: var(--block-embed-link-icon);
    cursor: pointer;
    margin-left:10px;
}


/* Removing the top and bottom lines */
.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 0;
    margin: 0px 0;
}


/* Removing duplication of bullets when block referencing a list item
Parent inside a bullet list */
li .markdown-embed ul {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px; 
    cursor: alias;
}

/* Child inside a bullet list */
li .markdown-embed ul ul   {
    position: relative;
    margin-left: 0px;
    padding-left: 40px; 
}

/* Task list inside an embed */
li .markdown-embed li.task-list-item {
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
}

/* Naked Embeds */
.markdown-embed-title { display:none; }
.markdown-preview-view .markdown-embed { border:none; padding:0px; margin:0px; }
.markdown-preview-view .markdown-embed-content { max-height: unset;}
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0px; }

/* eliminate scrollbars in transclusions */
.markdown-preview-view .markdown-embed-content, 
.markdown-preview-view .markdown-embed-content>.markdown-preview-view {
  max-height: unset;
}

/* Hide embed block's title */
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h6 {
  display:none;
}

div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h6,

/* Clutter Free */
/* external links */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting) {
    font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting)::after {
    content: '🔗';
    font-size: 1rem;
}

/* hide all html tags */
//div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag { display: none; }

/* except list markers */ span.cm-formatting-list,
/*code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* optionally header hashes */ span.cm-formatting-header
{ display: inline !important; }

/* and task checkboxes */
span.cm-formatting-task { display: inline !important; font-family: monospace; }

/* full-length hr line */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hr {
    color: transparent;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hr:after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    //border-style: dotted;
    background: grey;
    left: 0;
    top: 50%;
}

/* blockquote */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-quote {
    color: transparent;
}
div:not(.CodeMirror-activeline)>.HyperMD-quote {
    border-left: 4px solid grey;
    padding-left: 8.5px !important;
    margin-left: 5px;
}

/* list bullets */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul {
    color: transparent;
    position: relative;
}
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-list-ul:after {
    content: "•";
    position: absolute;
    top: -5px;
    left: 0px;
    color: var(--text-normal);
    font-family: sans-serif;
    font-size: 20px;
}


/* tickbox */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-meta,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property {
    color: transparent;
    position: relative;
}

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-meta:after,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property:after {
    content: "☐";
    color: white !important;
    position: absolute;
    top: 2px;
    left: 4px;
    color: var(--text-normal);
    font-size: 24px;
}

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-task.cm-property:after {
    content: "☑";
    color: rgb(129,76,255) !important;
}
 
/* Enlarge Images When Hover */
/*
.markdown-preview-view img:hover {
    -webkit-transform:scale(1.8); /* experiment with values */
    transform:scale(1.3);   
}
*/

/* bigger link popup preview */
.popover.hover-popover {
  position: absolute;
  z-index: var(--layer-popover);
  transform: scale(0.9); /* makes the content smaller */
  max-height: 800px;    /* was 300 */
  min-height: 100px;
  width: 500px; /* was 400 */
  overflow: hidden;      
  padding: 0;
  border-bottom: none;
}
.popover {
  font-size: 16px;   /* bigger text to make up for the downscaling */
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
  transform: scale(1.2); 
}
.popover mark {
  background-color: #000000;     /* mark background color */
  color: #dddddd     /* color for marked text */
}


/* Outliner */
.outline .collapsible-item-children {
  margin-left: 20px;
  border-left: 2px solid rgba(255,255,255,0.2);
  transition:all 0.5s ease-in-out;
}
.outline .collapsible-item-children:hover {
  border-left-color: grey;
}


