{% extends "base.html" %}
{% block title %} Manage Books {% endblock %}
{% block content %}

{{ center_head('Manage Books') }}

<!-- Filters -->
<div class="card m-3">
  <div class="card-header">
    <h3 style="display: inline; vertical-align: top;">Filters</h3> <a href="/books"><button class="ml-3 btn btn-warning"
        formmethod="GET">No Filter</button></a>
  </div>
  <div class="card-body">
    <div>
      <form method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="Book title" class="form-control"
            value="{{ request.form['title'] }}"></input>
        </div>

        <input class="btn btn-primary mb-3" type="button" value="Advanced Filters" onclick="showDiv()" />

        <div id="hiddenDiv" style="display: none;">
          <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" placeholder="13 digit ISBN" class="form-control"
              value="{{ request.form['isbn'] }}">
            </input>
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="The author of the book" class="form-control"
              value="{{ request.form['author'] }}">
            </input>
          </div>
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" name="publisher" placeholder="The publisher of the book" class="form-control"
              value="{{ request.form['publisher'] }}">
            </input>
          </div>
          <div class="form-group" style="float: left; width: 25%;">
            <label for="min_publsh_year">Publish Year</label>
            <input type="number" step="1" name="min_publish_year" placeholder="Publish year lower bound"
              class="form-control" value="{{ request.form['min_publish_year'] }}">
            </input>
          </div>
          <div class="form-group" style="float: left;padding-left: 5px; width: 25%;">
            <label>&nbsp;</label>
            <input type="number" step="1" name="max_publish_year" placeholder="Publish year upper bound"
              class="form-control" value="{{ request.form['max_publish_year'] }}">
            </input>
          </div>

          <div style="clear: both;"></div>

          <div class="form-group" style="float: left; width: 25%;">
            <label for="min_publsh_month">Publish Month</label>
            <input type="number" min="1" max="12" step="1" name="min_publish_month"
              placeholder="Publish month lower bound" class="form-control"
              value="{{ request.form['min_publish_month'] }}">
            </input>
          </div>
          <div class="form-group" style="float: left;padding-left: 5px; width: 25%;">
            <label>&nbsp;</label>
            <input type="number" min="1" max="12" step="1" name="max_publish_month"
              placeholder="Publish month upper bound" class="form-control"
              value="{{ request.form['max_publish_month'] }}">
            </input>
          </div>

          <div style="clear: both;"></div>
          <div class="form-group" style="float: left; width: 25%;">
            <label for="publsh_date">Price Range</label>
            <input type="number" name="price_min" placeholder="Price lower bound" class="form-control"
              value="{{ request.form['price_min'] }}">
            </input>
          </div>
          <div class="form-group" style="float: left;padding-left: 5px; width: 25%;">
            <label>&nbsp;</label>
            <input type="number" name="price_max" placeholder="Price upper bound" class="form-control"
              value="{{ request.form['price_max'] }}">
            </input>
          </div>
        </div>
        <div style="clear: both;"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div id='result'>
  {% call warning_card() %}
  {% if request.form %}
  <h3>There are <span class="badge badge-warning">{{ rows|length }}</span> books in the library satisfying such filter.</h3>
  {% else %}
  <h3>There are <span class="badge badge-warning">{{ rows|length }}</span> books in the library!</h3>
  {% endif %}
  {% endcall %}
</div>
{% if scroll %}
<script>
  // document.getElementById('{{ scroll }}').scrollIntoView();
  document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}

<table class="table table-hover m-3" style="font-size: 10pt;">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">ISBN</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Publish Date</th>
      <th scope="col">Price</th>
      <th scope="col">Number Sold</th>
      <th scope="col">User Rating</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    {% for book in rows %}
    <tr>
      <th scope="row"><a href="/{{book['isbn']}}">《{{ book['title'] }}》</a></th>
      <td>{{ book['isbn'] }}</td>
      <td>{{ book['author'] if book['author'] }}</td>
      <td>{{ book['publisher'] if book['publisher'] }}</td>
      <td>{{ book['publish_year'] if book['publish_year'] }}{{("-" + book['publish_month']|string) if
        book['publish_month']}}
      </td>
      <td>{{ book['price'] if book['price'] }}</td>
      <td>{{ book['sold'] }}</td>
      <td>{{ book['u_rating'] if book['u_rating'] }}</td>
      <td>
        <form class="form-inline">
          <button type="submit" class="btn btn-primary"
            formaction="{{ url_for('book.editbook', isbn=book['isbn']) }}" formmethod="GET"  
            style="display: inline;">
              Edit
          </button>
          <button type="submit" class="btn btn-danger ml-1"
            formaction="{{ url_for('book.deletebook', isbn=book['isbn']) }}" formmethod="POST"
            onclick="return confirm('Are you sure you want to delete this book?')">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}