{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Hi, Mr. Curator !
</h1>

<!-- Buttons -->
<section>
  <div class="row">
    <div class="col">
      <a href="{{url_for('curator.books')}}">
        <button type="button" class="btn btn-block btn-lg btn-primary">Books</button>
      </a>
    </div>
    <div class="col">

      <a href="{{url_for('curator.miners')}}">
        <button type="button" class="btn btn-block btn-lg btn-warning">Miners</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('curator.sales')}}">
        <button class="btn btn-block btn-lg btn-danger">Sales</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('curator.requests')}}">
        <button type="button" class="btn btn-block btn-lg btn-info">Requests</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('book.newbook')}}">
        <button class="btn btn-block btn-lg btn-success">New Book</button>
      </a>
    </div>
    <div class="col">

      <a href="{{url_for('book.home')}}">
        <button type="button" class="btn btn-block btn-lg btn-secondary">SQL Query</button>
      </a>
    </div>
  </div>
</section>

<hr>

<!-- Activities -->
<section>
  <!-- <h2 class="title">Your Activities</h2>
    {% if acts %}
    {% for act in acts %}
    <div class="card mb-3">
        <div class="card-body">
            <span style="font-size: 16pt; font-weight: bold;">You <span class="badge badge-warning">{{
                    act['operation_name'] }}</span> the book <a href="/{{act['isbn']}}"><span
                        class="badge badge-primary">《{{ act['title'] }}》</span></a> on <span
                    class="badge badge-success">{{ act['mark_date'] }}</span>.</span>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <blockquote>You haven't done anything. Go do some!</blockquote>
    {% endif %} -->

</section>

{% endblock %}