{% extends "base.html" %}
{% block title %}Curator Panel{% endblock %}
{% block content %}

{{ center_head('Hi, Mr. Curator!') }}

<!-- Buttons -->
<section>
  <div class="row">
    <div class="col">
      <a href="{{url_for('curator.books')}}">
        <button type="button" class="btn btn-block btn-lg btn-primary">Books</button>
      </a>
    </div>
    <div class="col">

      <a href="{{url_for('curator.miners')}}">
        <button type="button" class="btn btn-block btn-lg btn-warning">Miners</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('curator.sales')}}">
        <button class="btn btn-block btn-lg btn-danger">Sales</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('curator.requests')}}">
        <button type="button" class="btn btn-block btn-lg btn-info">Requests</button>
      </a>
    </div>

    <div class="col">
      <a href="{{url_for('book.newbook')}}">
        <button class="btn btn-block btn-lg btn-success">New Book</button>
      </a>
    </div>
    <div class="col">

      <a href="{{url_for('curator.sql')}}">
        <button type="button" class="btn btn-block btn-lg btn-secondary">SQL Query</button>
      </a>
    </div>
  </div>
</section>

<hr>

<!-- Activities -->
<!-- Statisitcs -->
<section>
  {{ left_head('Users Activities') }}
  {% call info_card() %}
    Here are most recent 100 records. For more detailed statistics, please go to different sub-pages.
  {% endcall %}
</section>

<!-- Activity table -->
<section>
  <table class="table table-hover" style="font-size: 16pt;">
    <thead>
      <tr>
        <th scope="col">Operation</th>
        <th scope="col">Miner ID</th>
        <th scope="col">Book</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for act in acts %}
      <tr>
        <th scope="row">
          <span class="badge badge-lg badge-{{
            ('warning' if act['operation_name'] == 'bought') or
            ('danger' if act['operation_name'] == 'rated') or
            ('info' if act['operation_name'] == 'tagged') or
            ('success' if act['operation_name'] == 'reviewed')
          }}">{{
            act['operation_name'] }}</span>
        </th>
        <td>{{ act['id'] }}</td>
        <td>
          <a href="/{{act['isbn']}}">《{{
            act['title'] }}》</a>
        </td>
        <td>{{ act['mark_time'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

{% endblock %}