{% extends 'base.html' %}
{% block title %} Edit Book {% endblock %}
{% block content %}

{{ center_head('Edit This Book') }}

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
            placeholder="Book title" class="form-control"
            value="{{ request.form['title'] or (content['title'] if content['title']) }}"></input>
    </div>

    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input
            type="text"
            name="isbn"
            placeholder="13 digit ISBN"
            class="form-control"
            value="{{ request.form['isbn'] or (content['isbn'] if content['isbn']) }}">
        </input>
    </div>

    <div class="form-group">
        <label for="author">Author</label>
        <input
            type="text"
            name="author"
            placeholder="The author of the book"
            class="form-control"
            value="{{ request.form['author'] or (content['author'] if content['author']) }}">
        </input>
    </div>

    <div class="form-group">
        <label for="publisher">Publisher</label>
        <input
            type="text"
            name="publisher"
            placeholder="The publisher of the book"
            class="form-control"
            value="{{ request.form['publisher'] or (content['publisher'] if content['publisher']) }}">
        </input>
    </div>

    <div class="form-group" style="float: left;">
        <label for="publsh_date">Publish Date</label>
        <input
            type="text"
            name="publish_year"
            placeholder="Publish year"
            class="form-control"
            value="{{ request.form['publish_year'] or (content['publish_year'] if content['publish_year']) }}">
        </input>
    </div>
    <div class="form-group" style="float: left;padding-left: 5px;">
        <label>&nbsp;</label>
        <input
            type="text"
            name="publish_month"
            placeholder="Publish month"
            class="form-control"
            value="{{ request.form['publish_month'] or (content['publish_month'] if content['publish_month']) }}">
        </input>
    </div>

    <div class="form-group" style="clear: both;">
        <label for="price">Price</label>
        <input
            type="text"
            name="price"
            placeholder="Price"
            class="form-control"
            value="{{ request.form['price'] or (content['price'] if content['price']) }}">
        </input>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
    </div>
</form>
{% endblock %}