{% extends "base.html" %}
{% block title %}My Library{% endblock %}
{% block content %}

{{ center_head('This is Your Library!')}}

<section>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#owned" data-toggle="tab">Owned Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#toread" data-toggle="tab">To Read</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#reading" data-toggle="tab">Reading</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#read" data-toggle="tab">Read</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#rating" data-toggle="tab">My Ratings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#request" data-toggle="tab">Request</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="owned">
      {% if owned %}
      {% call warning_card() %}
      You owned <span class="badge badge-warning">{{ owned|length }}</span> books in total!
      {% endcall %}

      {% for book in owned %}
      {{ book_card(book) }}
      {% endfor %}

      {% else %}
      {% call warning_card() %}
      You don't have any book. Go buy some!
      {% endcall %}
      {% endif %}
    </div>

    <div class="tab-pane fade" id="toread">
      {% if toread %}
      {% call warning_card() %}
      You have <span class="badge badge-warning">{{ toread|length }}</span> books to read!
      {% endcall %}

      {% for book in toread %}
      {{ book_card(book) }}
      {% endfor %}
      {% else %}
      {% call warning_card() %}
      There is no book you want to read. Go find some!
      {% endcall %}
      {% endif %}
    </div>

    <div class="tab-pane fade" id="reading">
      {% if reading %}
      {% call warning_card() %}
      You are reading <span class="badge badge-warning">{{ reading|length }}</span> books at the same time!
      {% endcall %}

      {% for book in reading%}
      {{ book_card(book) }}
      {% endfor %}

      {% else %}
      {% call warning_card() %}
      You are not reading any book. Go read some!
      {% endcall %}
      {% endif %}
    </div>

    <div class="tab-pane fade" id="read">
      {% if read %}
      {% call warning_card() %}
      You have read <span class="badge badge-warning">{{ read|length }}</span> books!
      {% endcall %}

      {% for book in read %}
      {{ book_card(book) }}
      {% endfor %}
      {% else %}
      {% call warning_card() %}
      You have not read any book. Go read some!
      {% endcall %}
      {% endif %}
    </div>

    <div class="tab-pane fade" id="rating">
      {% if rating %}
      {% call warning_card() %}
      You have rated <span class="badge badge-warning">{{ rating|length }}</span> books 
      and gave an average rating of <span class="badge badge-warning">{{ avg_rating }}</span>! Here are your favorites to
      least favorites.
      {% endcall %}
      {% for book in rating %}
      <div class="card m-3">
        <div class="card-body">
          <a href="/{{ book['isbn']}}">
            <h2>《{{ book['title'] }}》</h2>
          </a>
          <span class='badge badge-warning'>Your Rating: {{ book['rating'] }}</span>
          <span class='badge badge-primary'>ISBN: {{ book['isbn']}}</span>
          <span class='badge badge-primary'>Author: {{ book['author']}}</span>
          <span class='badge badge-primary'>Publisher: {{ book['publisher']}}</span>
          <span class='badge badge-primary'>Publish Date: {{ book['publish_year'] }}-{{ book['publish_month']}}</span>
          <span class='badge badge-warning'>{{ book['sold'] }} <b>SOLD</b></span>
          {% if book.get('u_rating') %}
          <span class='badge badge-danger'><b>USER RATING</b>: {{ book['u_rating'] }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      {% else %}
      {% call warning_card() %}
      You have not rated any book. Go rate some!
      {% endcall %}
      {% endif %}
    </div>

    <div class="tab-pane fade" id="request">
      {% if request %}
      {% call warning_card() %}
      You have requested <span class="badge badge-warning">{{ request|length }}</span> books. Here are their <b>ISBN</b> and the results.
      {% endcall %}
      {% for book in request %}
      <div class="card m-3">
        <div class="card-body">
          {% if book['request_state'] == 1 %}
          <h3>{{ book['isbn'] }}</h3>
          {% elif book['request_state'] == 2 %}
          <a href="/{{ book['isbn'] }}">
            <h3>{{ book['isbn'] }}</h3>
          </a>
          {% elif book['request_state'] == 3 %}
          <span style="color: gray;"><s>
              <h3>{{ book['isbn'] }}</h3>
            </s></span>
          {% endif %}
          <span class='badge badge-{{('warning' if book['request_state']==1) or ('success' if book['request_state']==2)
            or ('danger' if book['request_state']==3)}}'>
            State: {{('pending' if book['request_state']==1) or ('added' if book['request_state']==2) or ('turned down'
            if
            book['request_state']==3)}}
          </span>
          <span class='badge badge-info'>requested time: {{ book['request_date']}}</span>
          {% if book['title'] %}
          <span class='badge badge-primary'>Title: 《{{ book['title']}}》</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% call warning_card() %}
      You have not requested any book.
      {% endcall %}
      {% endif %}
    </div>
  </div>

</section>


{% endblock %}