<!doctype html>
<html lang="en">
  <head>
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <!-- Javascript -->

    <title>hello</title>
  </head>

  <script type="text/javascript">
  $(document).ready(function(){
    $("#button").click(function() {
        $("#fn").show();
        $("#ln").show();
    });
  });
    </script>
  <body>
    <button id="button">hello</button>
    <div id="fn" hidden>hello</div>

    <button class="bu">hello</button>
    <div class="fn" hidden>hello</div>


    <!-- Optional JavaScript -->
  </body>
</html>